body {
	font-family: Garamond, Times New Roman, serif;
	font-size: 14pt;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
}

h1 {
	font-size: 32pt;
}

h2 {
	font-size: 22pt;
	/* padding-left: 5px; */
	padding-bottom: 0.05em;
	box-shadow: inset 0em -0.2em #080;
}

h2 span {
	background-color: #080;
	padding: 5px 10px 0px 10px;
	color: white;
}

.authors {
	font-family: Helvetica, Arial, sans-serif;
	margin-bottom: 0px;
}

.authors em {
	font-weight: bold;
}

.title{
	font-family: Helvetica, Arial, sans-serif;
	margin-bottom: 0px;
}

.venue {
	font-style: italic;
	font-family: helvetica, arial, sans-serif;
	margin-bottom: 0;
}

.award {
	font-size: 12pt;
	font-family: helvetica, arial, sans-serif;
	margin-bottom: 0.5em;
}

.publication {
	margin-bottom: 1em;
}

img.award {
	max-width: 1.5em;
	max-height: 1.5em;
	margin-right: 0.5em;
}

div.publication img.award {
	margin-right: 0;
}

.main-img {
	max-width: 14rem;
	float: left;
	margin-right: 2em;
	margin-bottom: 1em;
}

a:link, a:visited {
	color: green;
}
a:hover, a:active {
	color: darkgreen;
}

a.social-icon {
	margin: 0 0.25rem;
	font-size: 1.5em;
}

.demo-imgs {
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

.job-list {
	padding-top: 1.5em;
	margin-left: 2em;
}

.job {
	margin-bottom: 1.5em;
}

.job em {
	font-size: 12pt;
}

div.project {
	padding-top: 2em;
}

div.description {
	padding-top: 0.5em;
}
